#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	rm -rf build
	rm -f debian/tmp/etc/config.py

# config.py generation/incluѕion

build/multiapt::
	mkdir -p debian/tmp/etc
	./print_config_template.py > debian/tmp/etc/config.py

install/multiapt::
	install -d debian/multiapt/etc
	install -m 644 debian/tmp/etc/config.py debian/multiapt/etc/config.py


